<header>    
  <nav class="navbar navbar-expand-md navbar-dark bd-navbar">
    
    <div class="col-lg-1 d-none d-lg-block d-xl-block"></div>
    <div class="col-sm-lg-12 col-lg-3 pdl0">    
      <a class="navbar-brand" routerLink="../{{global.ROUTE_HOME}}"><span class="headerH1"><img src="../../assets/tova2.png" class="img-thumbnail border-none" style="height: 115px !important;">UTOPIA pagos </span></a>
    </div>
    
    <div class="d-xs-block d-sm-block d-md-block d-lg-none d-xl-none col-xs-12 col-sm-12 pd20 pdl0">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleCollapsed()">
        <span class="navbar-toggler-icon"></span>
      </button>
  
    </div>

    <div class="col-xs-12 col-lg-6  ">    
      <div id="navbarCollapse" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
        <ul class="navbar-nav mr-auto ul-navbar">          
          <li class="nav-item" *ngIf="isLoggedIn()">
            <a class="nav-link list_link" routerLink="../{{global.ROUTE_DASHBOARD}}">{{constants.LABEL_GO_TO_PANEL}}</a>
          </li>          
        </ul>

      </div>
    </div>
  </nav>
</header>
