<header>
    <nav class="navbar navbar-expand-md navbar-dark bd-navbar">
      <div class="col-lg-1 d-none d-lg-block d-xl-block"></div>
      <div class="col-sm-lg-12 col-lg-3 pdl0">    
        <a class="navbar-brand" ><span class="headerH1"><img src="../../assets/tova2.png" class="img-thumbnail border-none" style="height: 115px !important;">UTOPIA pagos </span></a>
      </div>  
      <div id="navbarCollapse" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link list_link" href="{{global.URLBASE_FRONT }}/{{global.ROUTE_CHECK_TRANSACTION}}">{{constants.LABEL_CHECK_TRANSACION}}</a>
          </li> 
        </ul>
      </div>
    </nav>
  </header>
  
<form [formGroup]="paymentForm" >
    <div class="container-fluid estilo-login block" *ngIf="!isError && !transactionDone"> 
    <div class="row">      
      <div class="col-lg-2 div_box">
      </div>

      <div class="col-lg-3 div_box">        
        <mat-card >                    
          
          <mat-card-content>
            <br>
            <img src="../../assets/logo-05.png" style="width: 320px;">
            <br>
            <h2  class="gray" style="font-size: 2em;padding-top:15px;font-weight:bold;color:black">{{description}}</h2>
            <div class="col-xs-12 col-sm-12 col-sm-12 col-lg-12 pd10 text-center">
            <br>
            <span  style="font-size:1.75em"><b>{{constants.LABEL_VALUE_TO_PAY | uppercase}}</b>: <b style="color: green">${{totalAmount}}</b> </span><br><br>
          </div>
          </mat-card-content>
        </mat-card>
      </div>

      <!--<div class="col-lg-4 div_box">
        <mat-card class="example-card">
          <mat-card-header class="center-block">
            
          </mat-card-header><br>

          <mat-card-content style="text-align:center">
            <span class="amount_to_pay">
                <mat-form-field class="inputWidth">              
                  <mat-label>{{constants.LABEL_NAME_CLIENT}}</mat-label>
                  <input matInput formControlName="name" placeholder="{{constants.LABEL_NAME}}" autocomplete="off"  matTooltip="{{constants.LABEL_INTRO_NAME}}" matTooltipPosition="above" readonly>
                  <mat-error *ngIf="paymentForm.invalid">{{msgValidateName()}}</mat-error>
                </mat-form-field>
            </span>
          </mat-card-content>      

          <mat-card-content style="text-align:center">
            <span class="amount_to_pay">
              <mat-form-field class="inputWidth">              
                <mat-label>{{constants.PLACEHOLDER_CLIENT_EMAIL}}</mat-label>
                <input matInput formControlName="email" placeholder="{{constants.PLACEHOLDER_EMAIL}}" autocomplete="off" matTooltip="{{constants.LABEL_INTRO_EMAIL}}" matTooltipPosition="above" readonly>
                <mat-error *ngIf="paymentForm.invalid">{{msgValidateEmail()}}</mat-error>
              </mat-form-field>
            </span>
          </mat-card-content>
        </mat-card>
      </div>-->


      <div class="col-lg-5 div_box">
        <mat-card class="example-card">
          <mat-card-header class="center-block">
            
          </mat-card-header><br>         
          <mat-card-content style="text-align:center">
            <div class="col-md-12 col-lg-12 text-left payment-div-1">
              <span class="amount_to_pay" style="font-size:1.50em !important;">Total a pagar: <span class="tokens">${{totalAmount}}</span></span>
            </div>
            <hr>
            <div class="col-md-12 col-lg-12 text-left payment-div-1" *ngIf="getCrypto" >
              <span class="amount_to_pay"><img src="{{selectedToken.image}}" width="30px" height="30px"> {{selectedToken.name}}</span>&nbsp;&nbsp; <span class="amount_to_pay_1">(<span class="amount">${{price}}</span>)</span>
            </div>
            <div class="col-md-12 col-lg-12 text-left payment-div-1"  style="padding-top:10px;" *ngIf="getCrypto">
              <span class="amount_to_pay" style="font-size:1.50em !important;"><b> {{constants.LABEL_AMOUNT_SEND}} </b>: <span class="tokens">{{sendtotal}}</span> {{selectedToken.name}}</span>
            </div>
            <div class="col-md-12 col-lg-12 text-left payment-div-1 amount_to_pay">
                <button  mat-raised-button color="primary" (click)="openCoins()" type="button" class="btfp">{{constants.LABEL_SELECT_FORM_PAYMENT}}</button>&nbsp;&nbsp;
                <button  mat-raised-button color="primary" (click)="openDialog()" type="button" [disabled]="paymentForm.invalid || selectedToken == null">{{constants.LABEL_CHECKOUT_PAY}}</button>                              
            </div>            
          </mat-card-content>      
        </mat-card>
      </div>
      <div class="col-lg-2 div_box">
      </div>

      <div class="col-md-12 col-lg-12 text-right payment-div-1 padding-one">
        <span class="amount_to_pay">
          <span  class="amount_to_pay seconds" *ngIf="getCrypto">{{constants.LABEL_PRICE_REFRESH}}</span>
          <div class="digits_div"><span *ngIf="getCrypto" class="amount_to_pay seconds colorgray"> {{digits}} </span></div>
        </span>
      </div>   

    </div>
  </div>
</form>

<div class="container-fluid estilo-login block" *ngIf="transactionDone && !isAnulated && !isCompleted">
  <mat-dialog-content>
    <div class="row">
    <div  class="col-xs-12 col-sm-12 col-sm-12 col-lg-12 pd20 text-right"><span class="time-left" *ngIf="getCrypto"><b>{{constants.LABEL_TIME_LEFT}}</b>: {{digitsT}} </span></div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-sm-12 col-lg-12 pd20 text-center">
        <span class="total-to-send" *ngIf="getCrypto"><b>Total a pagar</b>: ${{amount}} </span><br><br>
      </div>
        <div class="col-xs-12 col-sm-12 col-sm-12 col-lg-12 pd20 text-center">
          <span class="total-to-send" *ngIf="getCrypto"><b>{{constants.LABEL_SEND}}</b>: {{sendtotal}} <img src="{{imageToken}}"  width="30px" height="30px"> {{symbol}}</span><br>
        </div>
        <div class="col-xs-12 col-sm-12 col-sm-12 col-lg-12 pdr0 text-center pd10">
          <qr-code [value]="codeQR" [size]="250" [foreground]="color2"></qr-code><br><br>
          <span class="total-to-send"><b>Wallet</b>: {{wallet}}</span><br><br>                    
        </div>
        <div class="col-xs-12 col-sm-12 col-sm-12 col-lg-12 pdl0 pd10 pdm20 text-center">
          <div class="row pd10 refresh">
            <div class="col-12">
              <button mat-raised-button color="primary" type="button" (click)="openDialogAnul();">{{constants.LABEL_CANCEL_TRANSACTION}}</button>              
            </div>
          </div>
        </div>
    </div>
  </mat-dialog-content>
</div>

<div class="container-fluid estilo-login block" *ngIf="isAnulated">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <mat-card class="example-card">
        <mat-icon matSuffix color="primary" class="icon-big {{colorSuccess}}">{{iconSuccess}}</mat-icon>
        <mat-card-header class="center-block">
          <mat-card-title >
            {{msgSuccess}}<br><br>
          </mat-card-title>
        </mat-card-header><br>
      </mat-card>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>

<div class="container-fluid estilo-login block" *ngIf="isError && !isCompleted">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <mat-card class="example-card">
        <mat-icon matSuffix color="primary" class="icon-big {{color}}">{{icon}}</mat-icon>
        <mat-card-header class="center-block">
          <mat-card-title >{{msgError}}</mat-card-title>
        </mat-card-header><br>
      </mat-card>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>

<div class="container-fluid estilo-login block" *ngIf="isCompleted && !isError">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <mat-card class="example-card">
        <mat-icon matSuffix color="primary" class="icon-big {{colorCompleted}}">{{iconCompleted}}</mat-icon>
        <mat-card-header class="center-block">
          <mat-card-title >{{msgCompleted}}</mat-card-title>
        </mat-card-header><br>
      </mat-card>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>
<app-footer></app-footer>

