.navbar-dark .navbar-nav .nav-link {
    color:#1d1d1d;
    font-size:1.2em;
}
.estilo-login-check{
    text-align: center !important;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 40px;
    background-color:#eceff2 !important
  }
.total-to-send{
    font-size:2em;
}

.label_data_2{
    font-size: 1.1em;
    font-weight: normal;
}

.pd40{
    padding-top: 40px !important;    
}

.label_data{
    font-size: 1.2em;
    font-weight: 500;
}

.div_box{
    padding-bottom: 10px; 
}

.pd8{
    padding-top: 15px;
}
.mat-green{
    background-color: #65c73c;
    color: white;
}

.mat-red{
    background-color: #c73c3c;
    color: white;
}


@media (max-width: 768px) { 
    .wallet{
        font-size:1em;
    }

    .total-to-send{
        font-size:1.2em;
    }

    .time-left{
        font-size:1.1em;
    }

    .label_data{
        font-size: 1em;
        font-weight: 500;
        text-align: left;
    }

    
    .label_data_2{
        font-size: 1em;
        font-weight: normal;
    }

    .pd40{
        padding-top: 30px !important;    
    }

}

@media (min-width: 1520px) { 
    .wallet{
        font-size:1em;
    }

    .total-to-send{
        font-size:1.35em;
    }

    .time-left{
        font-size:1em;
    }

    .label_data{
        font-size: 1em;
        font-weight: 500;
    }

    
    .label_data_2{
        font-size: 1em;
        font-weight: normal;
    }

    .pd40{
        padding-top: 30px !important;    
    }
}

.pdb20{
    padding-bottom: 45px !important;    
}

.border-none{
    border: none !important;
}