<br><h2>{{constants.LABEL_CONFIGURATION}}</h2>
  <mat-tab-group>    

    <mat-tab label="{{constants.LABEL_BLOCKCHAINS}}">
        <div class="form-container col-xs-12 col-sm-12 col-sm-12 col-lg-8 div_blockchains">
          <mat-card class="example-card">
              <mat-card-content style="text-align:left">
               <span class="text-config">{{constants.LABEL_TEXT_BLOCKCHAINS}}:</span> <br><br>
                  <div class="div_block " *ngFor="let block of blockchains">                                            
                      <mat-checkbox color="primary" value="{{block._id}}" (change)="onChange($event)"   [checked]="containValue(block._id,blockchainsUser)">
                        <img src="{{block.image}}"> {{block.name}} 
                      </mat-checkbox>
                  </div>
                <div mat-dialog-actions style="clear:both" class="block">
                    <button mat-raised-button color="primary" type="submit" (click)="updateBlochcainsUser()">{{constants.LABEL_UPDATE}}</button>
                </div>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-tab>

      <mat-tab label="{{constants.LABEL_RESULT}}">
        <div class="form-container col-xs-12 col-sm-12 col-sm-8 col-lg-4" style="min-height:350px;">
          <mat-card class="example-card">
              <mat-card-content style="text-align:center">
                <img src="../../../assets/tova2.png" class="img-fluid" style="width:50%"><br>
                <p class="title_construction">{{constants.LABEL_IN_CONSTRUCTION}}.</p>                
            </mat-card-content>
          </mat-card>
        </div>
      </mat-tab>
  </mat-tab-group>
  <br><br>