<app-header></app-header>
<main class="main_content">
  <div class="container-fluid div-home">
    <div class="row" style="padding-top:45px;">
      <div class="col-lg-12">        
          <div class="text-center">            
            <br>
            <span class="text-center"><img src="../../../assets/banner-img.png"></span><br><br>
            <p class="text-center" *ngIf="logged"><button mat-raised-button color="primary" routerLink="{{url}}" >{{constants.LABEL_GO_TO_PANEL}}</button></p>
          </div>
      </div>      
    </div>
  </div>
</main>
<app-footer></app-footer>