<app-header></app-header>
<main class="main_content">
  <div class="container-fluid div-home">
    <div class="row" style="padding-top:45px;">
      <div class="col-lg-1"></div>        
      <div class="col-lg-5">        
          <div class="text-justify">
            <p class="title_home">{{constants.LABEL_HOW_IT_WORK1}}</p><br>
            <p class="content_home">{{constants.LABEL_HOW_IT_WORK2}}</p>
            <ul class="list_how_it_work">
              <li>{{constants.LABEL_HOW_IT_WORK4}}.</li>
              <li>{{constants.LABEL_HOW_IT_WORK5}}.</li>
              <li>{{constants.LABEL_HOW_IT_WORK6}}.</li>
              <li>{{constants.LABEL_HOW_IT_WORK7}}.</li>
              <li>{{constants.LABEL_HOW_IT_WORK8}}.</li>
              <li>{{constants.LABEL_HOW_IT_WORK9}}.</li>              
            </ul>
            <p class="content_home">{{constants.LABEL_HOW_IT_WORK3}}.</p>
            
          </div>
      </div>
      <div class="col-lg-5 home-content-wrapper">
        <div class="text-center home-content" >
            <img src="../../../assets/token-info.png" class="img-fluid" style="width: 50%"><br>
        </div>
      </div>
      <div class="col-lg-1"></div>        
    </div>
  </div>
</main>
<app-footer></app-footer>