<br><h2>{{constants.LABEL_WALLET}}</h2>
<main class="main_content">
    <div class="container-fluid div-home">
      <div class="row" style="padding-top:45px;">
        <div class="col-lg-4"></div>        
        <div class="col-lg-4 text-center">        
            <img src="../../../assets/tova2.png" class="img-fluid" style="width:50%"><br>
            <p class="title_construction">{{constants.LABEL_IN_CONSTRUCTION}}.</p>
        </div>
        <div class="col-lg-4"></div>        
      </div>
    </div>
  </main>