<app-header></app-header>
<div class="container-fluid estilo-login">
  <div class="row">
    <div class="col-md-4 col-lg-4"></div>
    <div class="col-md-4 col-lg-4">
      <div class="form-container">
        <mat-card class="example-card">
          <mat-card-header class="center-block">
            <mat-card-title ><h1 class="h3 mb-3 font-weight-normal">{{constants.LABEL_SEND_PASSWORD}}</h1></mat-card-title>
          </mat-card-header><br>
          <mat-card-content style="text-align:center">

            <form [formGroup]="passwordLostForm" (ngSubmit)="onSubmit(passwordLostForm.value)">
              <!--<img class="img-fluid" src="../../assets/logo-white2x.png">-->
              <mat-form-field class="inputWidth">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" placeholder="Email" autocomplete="off">
                <mat-icon matSuffix color>email</mat-icon>
                <mat-error *ngIf="passwordLostForm.invalid">{{msgValidateEmail()}}</mat-error>
              </mat-form-field>
              <div><span class='infoform'>* {{constants.MSG_LOST_PASSWORD}}</span></div><br>
              <div style="clear:both" >
                  <button mat-raised-button color="primary" type="submit" [disabled]="passwordLostForm.invalid" class="width60">{{constants.LABEL_RECOVERY}}</button><br>
                  <a routerLink="../{{global.ROUTE_LOGIN}}" class="text-anchor">{{constants.LABEL_BACK_LOGIN}}</a>
              </div>
            </form>
          </mat-card-content>
          </mat-card>
        </div>
    </div>
    <div class="col-md-4 col-lg-4"></div>
  </div>
</div>
<app-footer></app-footer>


